@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carouselTrack {
  display: flex;
  width: 200%; 
  animation: slide 30s linear infinite;
}
